.main {
    width: 100%;
    background-color: #efefef;
    padding-top: 3rem;
}

.main-wrap {
    width: 1320px;
    margin: 0 auto;
    padding: 0 0.5rem;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.main-menu {
    width: 100%;
    height: 5rem;
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.main-menu .main-menu-left,
.main-menu .main-menu-right {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-menu-right .write-link-btn {
    background: burlywood;
    font-weight: bold;
    border: 2px solid burlywood;
    padding: 0.75rem 1.25rem;
    border-radius: 10px;
    color: #ffffff;
}

.main-content {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4%;
}

.post-wrap {
    width: 48%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
}

.post-thumbnail {
    width: 100%;
    height: 20rem;
    border-radius: 10px 10px 0 0;
}

.post-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.post-title {
    width: 100%;
    padding: 1rem 0.5rem;
}

.post-author,
.post-created-at {
    width: 100%;
    padding: 0 0.5rem;
}

.post-title p,
.post-author p,
.post-created-at p {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.post-pagination-wrap {
    width: 100%;
    margin-bottom: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.post-pagination-wrap .post-pagination {
    border: 2px solid burlywood;
    border-radius: 10px;
    background: transparent;
    font-weight: bold;
}

@media (max-width: 1320px) {
    .main .main-wrap {
        width: 100%;
    }

    .main-menu-right .write-link-btn {
        font-size: 0.8rem;
        padding: 0.5rem 0.75rem;
    }

    .post-wrap {
        width: 100%;
    }

    .post-thumbnail {
        height: 15rem;
    }

    .post-pagination-wrap {
        padding: 1rem 0;
    }
}
