.detail-wrap {
    width: 1320px;
    margin: 3rem auto;
    border: 3px solid lightcoral;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.detail-title-wrap {
    width: 100%;
    padding: 1rem 1.5rem;
}

.detail-title-wrap p {
    margin: 0;
    font-size: 2.75rem;
    box-sizing: border-box;
    border-bottom: 2px solid lightcoral;
}

.detail-info-wrap {
    width: 100%;
    padding: 1rem 1.5rem;
    font-weight: bold;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.75rem;
}

.detail-info-wrap p {
    margin: 0;
    font-size: 1.5rem;
}
.detail-info-wrap p.detail-author {
    color: cornflowerblue;
}
.detail-info-wrap p.detail-date {
    color: grey;
}

.detail-info-wrap p.detail-recommend {
    color: purple;
    margin-left: 0.2rem;
}

.detail-content-wrap {
    padding: 5rem 1.5rem;
}
.detail-content-wrap .ql-editor {
    padding: 0;
    height: auto !important;
}

.detail-recommend-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.detail-recommend-wrap .detail-recommend-btn {
    background: none;
    border: none;
}

.detail-recommend-wrap .detail-recommend-btn i {
    color: red;
    font-size: 5rem;
}

.post-btn {
    width: 1320px;
    margin: 2rem auto;

    display: flex;
    justify-content: space-between;
}

.post-btn button {
    border: 2px solid coral;
    padding: 0.75rem 1.25rem;
    border-radius: 10px;
    font-weight: bold;
    box-sizing: border-box;
}

.post-btn .post-main-btn {
    border: 2px solid burlywood;
    color: #ffffff;
    background: burlywood;
}

.post-btn .post-edit-btn {
    color: coral;
    background: transparent;
}
.post-btn .post-delete-btn {
    color: #ffffff;
    background-color: coral;
}

.comment-wrap {
    width: 1320px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px solid coral;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    display: flex;
    flex-direction: column;
}

.comment-wrap .comment-title p {
    margin: 0;
    font-weight: bold;
    color: gray;
}

.comment-wrap .comment-input {
    width: 100%;
}

.comment-wrap .comment-input textarea {
    width: 100%;
    height: 5rem;
    resize: none;
    border: 1px solid coral;
    margin: 10px 0;
}

.comment-wrap .comment-input textarea:focus {
    outline: 1px solid coral;
}

.comment-wrap .comment-btn {
    display: flex;
    justify-content: flex-end;
}

.comment-wrap .comment-btn .comment-submit-btn {
    background: burlywood;
    font-weight: bold;
    border: 2px solid burlywood;
    padding: 0.75rem 1.25rem;
    border-radius: 10px;
    color: #ffffff;
}

.comment-list {
    width: 1320px;
    margin: 1rem auto;
}

.comment-list .comment {
    width: 100%;
    border: 2px solid burlywood;
    border-radius: 10px;
    padding: 1.5rem;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    display: flex;
    flex-direction: column;
}

.comment-list .comment-info-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.comment-list .comment-info-wrap .comment-info {
    display: flex;
    flex-wrap: wrap;
}

.comment-list .comment-info-wrap .comment-btn button {
    background: none;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 10px;
}

.comment-list .comment-info-wrap .comment-btn .comment-edit-btn {
    border: 2px solid burlywood;
    color: burlywood;
}

.comment-list .comment-info-wrap .comment-btn .comment-delete-btn {
    border: 2px solid red;
    color: #ffffff;
    background: red;
}

.comment-list .comment-content {
    width: 100%;
}

.comment-list .comment-content p {
    margin: 0;
}

.comment-list .comment-info .comment-author {
    font-weight: bold;
    color: blueviolet;
}

.comment-list .comment-info .comment-created-at {
    font-weight: bold;
    color: gray;
}

.comment-pagination-wrap {
    width: 1320px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.comment-pagination-wrap .comment-pagination {
    border: 2px solid burlywood;
    border-radius: 10px;
    background: transparent;
    font-weight: bold;
}

.page-selected {
    background: burlywood !important;
    color: #ffffff;
}

@media (max-width: 1320px) {
    .detail-wrap {
        width: 100%;
    }
    .detail-title-wrap p {
        font-size: 1.5rem;
    }
    .detail-info-wrap p {
        font-size: 1rem;
    }
    .detail-title-wrap {
        padding: 1rem;
    }
    .detail-info-wrap {
        padding: 0 1rem;
    }
    .detail-content-wrap {
        padding: 5rem 1rem;
    }
    .detail-content-wrap .ql-editor {
        font-size: 1rem !important;
    }
    .detail-content-wrap .ql-editor img {
        width: 100%;
    }

    .post-btn {
        width: 100%;
    }
    .post-btn .post-delete-btn,
    .post-btn .post-main-btn,
    .post-btn .post-edit-btn {
        padding: 0.5rem 0.75rem;
        font-size: 0.75rem;
    }

    .comment-wrap {
        width: 100%;
        padding: 1rem;
    }

    .comment-list,
    .comment-pagination-wrap {
        width: 100%;
    }

    .comment-list .comment {
        padding: 1rem;
    }

    .comment-list .comment-info-wrap .comment-btn button {
        font-size: 0.75rem;
    }

    .comment-author,
    .comment-created-at {
        font-size: 0.75rem;
    }
}
