/* 섹션 크기 */
.bg-light {
    height: 1053px;
    padding-top: 55px;
    padding-bottom: 75px;
}

.flex-fill.mx-xl-5.mb-2 {
    margin: 0 auto;
    width: 700px;
    padding-right: 7rem;
    padding-left: 7rem;
}

/* 입력창  */
.container.py-4 {
    margin: 0 auto;
    width: 503px;
}

/* 가입하기 */
.d-grid.gap-2 {
    padding-top: 30px;
}

/* 생년월일 */
.bir_yy,
.bir_mm,
.bir_dd {
    width: 160px;
    display: table-cell;
}

.bir_mm+.bir_dd,
.bir_yy+.bir_mm {
    padding-left: 10px;
}