<div class="edit-wrap">
    <div class="title-wrap">
        <input id="edit-title" placeholder="제목을 입력하세요" />
    </div>
    <div class="file-wrap">
        <input id="edit-image" type="file" accept="image/*" />
    </div>
    <div class="thumbnail-wrap">
        <img id="thumbnail-img" src="" alt="thumbnail-img" />
    </div>
    <!-- 썸네일 이미지 정보 저장 -->
    <input id="edit-thumbnail" type="hidden" />

    <div class="editor-wrap">
        <div id="editor"></div>
    </div>
    <!-- quill editor 안에 작성된 내용들을 저장 -->
    <input id="edit-content" type="hidden" />
</div>

<div class="edit-btn">
    <button type="button" class="edit-cancel-btn" onclick="location.href='/'">취소</button>
    <button type="button" class="edit-submit-btn" onclick="edit_submit()">수정</button>
</div>

<!-- Initialize Quill editor -->
<script defer src="../../static/js/edit.js"></script>
