<div class="find_id">
    <div class="find_id_wrap">
        <div class="find_id_title">
            <div class="fine_id_innertitle">
                <h1>🍽아이디 찾기</h1>
            </div>
            <div class="name_email">
                <div class="find_id_name_box">
                    <label for="find_id_name" class="form-label">이름</label>
                </br>
                    <input type="name" class="form-control" id="user-name"
                        placeholder="이름을 입력해주세요.">
                </div>
                <div class="find_id_email_box">
                    <label for="find_id_email" class="form-label">이메일</label>
                </br>
                    <input type="email" class="form-control" id="user-email"
                        placeholder="이메일 주소@sparta.com">
                </div>
            </div>
            <div>
                <button class="find_id_btn" type="button" onclick="find_id()">아이디 찾기</button>
            </div>
            <div id="find-msg"></div>
            <div class="find_idpw_btn">
                <div>
                    <button class="find_idpg_pw_btn" type="button" onclick="location.href='/find_pw';">비밀번호 찾기</button>
                </div>
            </div>           
        </div>
    </div>
</div>

<script defer src="../../static/js/find_id.js"></script>