<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>

    <link rel="stylesheet" href="../static/styles/login.css" />
</head>

<body>
    <div class="background">
        <div class="wrap">
            <div class="mytitle">
                <h1>🍕오늘 뭐먹죠</h1>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="아이디">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="비밀번호">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="button">로그인</button>
                </div>
                <button type="button" class="btn btn-secondary btn-lg" disabled>회원가입</button>
                <button type="button" class="btn btn-lg btn-primary" disabled>비밀번호찾기</button>
            </div>
        </div>
    </div>
</body>

</html>