<!-- 현재 세션의 값을 가져옴 -->
<input id="nickname" type="hidden" value="{{session['user-info']['user_nickname']}}" />
<input id="number" type="hidden" value="{{session['user-info']['id']}}" />

<div class="mypage_bg">
    <div class="mypage_wrap">
        <div class="mypage_title">
            <h2 class="title">My Page</h2>
            <div class="nickname mb-3">
                <label class="form-label">Nickname</label>
                <input type="text" class="form-control" onkeyup="check_box()"
                    value="{{session['user-info']['user_nickname']}}" id="user-nickname" />
                <button type="button" class="btn btn-primary" id="btn" disabled
                    onclick="user_nickname_check()">중복체크</button>
                <div id="nickname-check-msg"></div>
            </div>
            <div class="id mb-3">
                <label class="form-label">ID</label>
                <input type="text" class="form-control" id="user-id" value="{{session['user-info']['user_id']}}"
                    aria-label="Disabled input" disabled readonly />
            </div>
            <div class="pw mb-3">
                <label class="form-label" for="password">Password</label>
                <input type="password" class="form-control" id="user-pw" value="{{session['user-info']['user_pw']}}"
                    aria-label="Disabled input" disabled readonly />
            </div>
            <div class="name mb-3">
                <label for="user-name" class="form-label">Username</label>
                <input type="text" class="form-control" id="user-name" value="{{session['user-info']['user_name']}}" />
            </div>
            <div class="email mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" id="user-email" value="{{session['user-info']['user_email']}}"
                    aria-label="Disabled input" disabled readonly />
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary btn-lg" type="button" onclick="mypage()">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>

<script defer src="../../static/js/mypage.js"></script>