<div class="main">
    <div class="main-wrap">
        <div class="main-menu">
            <div class="main-menu-left">dfdf</div>
            {% if 'user-info' in session %}
            <div class="main-menu-right">
                <a href="/write">
                    <div class="write-link-btn">글 쓰기</div>
                </a>
            </div>
            {% endif %}
        </div>
        <div id="main-content" class="main-content"></div>
        <div id="post-list-err-msg"></div>
        <div class="post-pagination-wrap">
            {% if post_page != 0 %} {% for i in range(post_page) %}
            <button
                data-index="{{i+1}}"
                type="button"
                class="post-pagination"
                onclick="get_post_list('{{i+1}}')"
            >
                {{i+1}}
            </button>
            {% endfor %} {% endif %}
        </div>
    </div>
</div>

<script defer src="../../static/js/postlist.js"></script>
