<input id="post-id" type="hidden" value="{{post_id}}" />

<div class="detail-wrap">
    <div class="detail-title-wrap">
        <p id="detail-title"></p>
    </div>
    <div class="detail-info-wrap">
        <div class="detail-author-wrap">
            <p id="detail-author" class="detail-author"></p>
        </div>
        <div class="detail-date-wrap">
            <p id="detail-date" class="detail-date"></p>
        </div>
    </div>
    <div class="detail-content-wrap">
        <div id="detail-content" class="ql-editor"></div>
    </div>
</div>

<script defer src="../../static/js/post.js"></script>
