<!-- 로그인 유저의 정보를 들고있기 위한 input -->
<input
    id="logined-user-id"
    type="hidden"
    value="{% if 'user-info' in session %}{{session['user-info']['user_id']}}{% endif %}"
/>
<!-- 댓글 작성자(로그인 유저) 의 유저 번호 -->
<input
    id="logined-user-num"
    type="hidden"
    value="{% if 'user-info' in session %}{{session['user-info']['id']}}{% endif %}"
/>

<div class="detail-wrap">
    <div class="detail-title-wrap">
        <p id="detail-title"></p>
    </div>
    <div class="detail-info-wrap">
        <div class="detail-author-wrap">
            <p id="detail-author" class="detail-author"></p>
        </div>
        <div class="detail-date-wrap">
            <p id="detail-date" class="detail-date"></p>
        </div>
        <div class="detail-recommend-wrap">
            <p>추천수</p>
            <p id="detail-recommend" class="detail-recommend"></p>
        </div>
    </div>
    <div class="detail-content-wrap">
        <div id="detail-content" class="ql-editor"></div>
    </div>
    <div class="detail-recommend-wrap">
        <button type="button" class="detail-recommend-btn" onclick="recommend()">
            <i id="not-recommended" class="bi bi-hand-thumbs-up"></i>
        </button>
    </div>
</div>

<div class="post-btn">
    <div class="post-btn-left">
        <button type="button" class="post-main-btn" onclick="location.href='/'">목록</button>
    </div>

    <div class="post-btn-right">
        <button
            type="button"
            class="post-edit-btn"
            onclick="location.href='/edit?post_id={{post_id}}'"
        >
            수정
        </button>
        <button type="button" class="post-delete-btn" onclick="post_delete()">삭제</button>
    </div>
</div>

{% if 'user-info' in session %}
<div class="comment-wrap">
    <div class="comment-title">
        <p>댓글입력</p>
    </div>
    <div class="comment-input">
        <textarea id="comment-content"></textarea>
    </div>
    <div class="comment-btn">
        <button type="button" class="comment-submit-btn" onclick="comment_submit()">등록</button>
    </div>
</div>
{% endif %}

<div id="comment-list" class="comment-list"></div>
<div class="comment-pagination-wrap">
    {% if comment_page != 0 %} {% for i in range(comment_page) %}
    <button
        data-index="{{i+1}}"
        type="button"
        class="comment-pagination"
        onclick="get_comment_list('{{i+1}}')"
    >
        {{i+1}}
    </button>
    {% endfor %} {% endif %}
</div>

<script defer src="../../static/js/post.js"></script>
